body{background-color: rgb(70, 131, 221);}

header > h1 {text-align: center;
             color: white;
             font-family: Arial, Helvetica, sans-serif;
             font-size: 34px;
             text-shadow: 0.6px 0.6px 3px rgba(0, 0, 0, 0.603);}

section{background-color: white;
        width: 500px;
        margin: auto;
        padding: 8px 0px 1px 10px;
        border-radius: 7px;
        box-shadow: 0.7px 0.7px 3px rgba(0, 0, 0, 0.63);}

section > p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 470;
            font-size: 18px;}

footer > p{text-align: center;
           color: white;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 18px;}